# fly.toml app configuration file generated for nyefan-matrix on 2025-06-15T19:43:01-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nyefan-matrix'
primary_region = 'ord'
kill_signal = 'SIGTERM'
kill_timeout = '2m0s'

[build]
  image = 'ghcr.io/matrix-construct/tuwunel:v1.5.0'

[deploy]
  strategy = 'rolling'
  max_unavailable = 1.0
  wait_timeout = '10m0s'

[env]
  TUWUNEL_CONFIG = '/etc/tuwunel/tuwunel.toml'

[mounts]
  source = 'nyefan_matrix_data'
  destination = '/var/lib/tuwunel'
  initial_size = '1GB'
  auto_extend_size_threshold = 80
  auto_extend_size_increment = '1GB'
  auto_extend_size_limit = '10GB'

[http_service]
  internal_port = 8448
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '1m0s'
    method = 'GET'
    path = '/'

[[files]]
  guest_path = '/etc/tuwunel/.reg_token'
  secret_name = 'TUWUNEL_REGISTRATION_TOKEN'

[[files]]
  guest_path = '/etc/tuwunel/.turn_secret'
  secret_name = 'TUWUNEL_TURN_SECRET'

[[files]]
  guest_path = '/etc/tuwunel/tuwunel.toml'
  local_path = './tuwunel.toml'

[[vm]]
  size = 'shared-cpu-2x'
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 2
